<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация — Противопожарная служба СПб</title>
    <link rel="stylesheet" href="/72tldh/static/css/main.css">
</head>
<body>

<div class="container">
    <h1>Вход в систему</h1>

    <form id="loginForm">
        <label for="username">Логин</label>
        <input type="text" id="username" required>

        <label for="password">Пароль</label>
        <input type="password" id="password" required>

        <button type="submit">Войти</button>
    </form>

    <p id="message"></p>
</div>
<script src="/72tldh/static/js/authentication.js"></script>
</body>
</html>